<html>

<head>
    <% include ../partials/head %>
        <link rel="stylesheet" href="/css/profilEleve.css">

        <title>
            Ajout de notes
        </title>
</head>

<body>


    <div id="padder"></div>

    <% include ../partials/admin/ajout_notes_form %>

        <% include ../partials/admin/menu %>

</body>

</html>
