<html>

<head>
    <% include ../partials/head %>
        <link rel="stylesheet" href="/css/profilEleve.css">

        <title>
            Ajout de notes
        </title>
</head>

<body>


    <div id="padder"></div>

    <% include ../partials/admin/ajout_notes_form %>


        <aside>
            <a href="../eleve">

                <span id="name">
        <%= admin %>
    </span>
            </a>
            <a href="../eleve">Gestion des élèves</a>
            <a href="../notes">Gestion des notes</a>
            <a href="../classe">Gestion des classes</a>
            <a href="/logout">Déconnexion</a>
        </aside>

</body>

</html>
