<html>

<head>
    <% include ../partials/head %>
        <link rel="stylesheet" href="/css/profilEleve.css">

        <title>
            Liste des élèves
        </title>
</head>

<body>


    <div id="padder"></div>

    <% include ../partials/admin/eleve_modify %>


        <% include ../partials/admin/menu %>

</body>

</html>
