<html>

<head>
    <% include ../partials/head %>
        <link rel="stylesheet" href="/css/profilEleve.css">

        <title>
            Gestion des élèves
        </title>

        <style>
            .modal_adresse {
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 15px;
            }
            
            .modal_adresse input {
                margin: 5px;
            }
            
            .modal {
                width: 60%;
            }

        </style>
</head>

<body>


    <div id="padder"></div>

    <% include ../partials/admin/eleve %>

        <% include ../partials/admin/menu %>
</body>

</html>
