<html>

<head>
    <% include ../partials/head %>
        <link rel="stylesheet" href="/css/profilEleve.css">

        <title>
            Gestion des élèves
        </title>
</head>

<body>


    <div id="padder"></div>

    <% include ../partials/admin/eleve %>

        <% include ../partials/admin/menu %>
</body>

</html>
