<!DOCTYPE html>
<html>
<head>
    <title>Administration</title>
    <meta charset='utf-8'/>
</head>
    
<body>
    <center>
        <h1>Gestion des élèves</h1>
        <p>
            <a href="/eleve/add">Ajouter un élève</a>
            <a href="#">Modifier les informations d'un élève</a>
        </p>
        
        <h1>Gestion des classes</h1>
        
        <h1>Gestion des matières</h1>
        
        <h1>Gestion des notes</h1>
    </center>
</body>
</html>