<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/index.css">
    
    <title>Collège Charles Dabert</title>
</head>

<body>
    
    <div id="coverImg">
    </div>
    
    <div id="central">
        <form method="post" action="eleve">
            <input type="text" name="id" placeholder="Identifiant (numéro étudiant)">
            <input type="password" name="password" placeholder="Mot de passe (Vaut le matricule)">
            <button type="submit">Accéder à mon espace</button>
            <p>
                <a href="adm">Administration</a>
                <a href="#">Professeurs</a>
            </p>
        </form>
    </div>

    
<!--    
    
    -->
</body>
</html>