body{
    background-color: #fcfcfc;
    font-family: 'Verdana', sans-serif;
    margin: 0;
}

header{
    background-color: skyblue;
    color: white;
    min-height: 80px;
    padding-top: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

header p{
    margin: 0;
}

.wrapper{
    margin: 0px 100px;
    padding: 40px;
    background-color: white;
}

#name{
    font-weight: bold;
    font-size: 2em;
}
