<div class="overlay" id="newpassword_modal" style="display: none">
    <div class="modal">

        <header>
            <h1>Mot de passe</h1>
        </header>

        <div class="modal_content">
            <h2>Modifier votre mot de passe</h2>

            <form>
                <div class="modal_adresse">
                    <input class="rue" type="password" name="old_password" placeholder="Ancien mot de passe">
                    <input class="rue" type="password" name="new_password" placeholder="Nouveau mot de passe">
                    <input type="password" name="new_password_2" placeholder="Confirmer le mot de passe">
                </div>

                <div class="form_bottom">
                    <a class="cancel_button" type="submit" onclick="javascript:toggle_modal('newpassword_modal');">Annuler</a>
                    <a class="submit_button" href="#">Modifier</a>
                </div>
            </form>
        </div>
    </div>
</div>
