<html>
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/css/profilEleve.css">
        <title><%= eleve.prenom + ' ' + eleve.nom %></title>
    </head>

    <body>

        
    <div id="padder"></div>

    <% include ../partials/eleve/administration %>
    
    <% include ../partials/eleve/menu %>
    </body>
</html>