<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 

    <link rel=stylesheet href="css/cv.css">
    <title>CV - Etienne Guerlain</title>
</head>

<body>
    <header class="fade_in">
        <nav>
            <div id="logo" >
                <a href="/">
                    Etienne Guerlain
                </a>
            </div>
            <div id="logo_alter" >
                <a href="/">
                    EG
                </a>
            </div>

            <ul id="sections">
                <li>
                    <a href="#edu">
                        Formation
                    </a>
                </li>
                <li>
                    <a href="#xp">
                        Expérience
                    </a>
                </li>
                <li>
                    <a href="#lang">
                        Langues
                    </a>
                </li>
                <li>
                    <a href="#skills">
                        Informatique
                    </a>
                </li>
                <li>
                    <a href="#hobbies">
                        Intérêts
                    </a>
                </li>
            </ul>

            <ul id="translate">
                <li>
                    <a>
                        <img src="../img/cv/uk.png">
                    </a>
                </li>
                <li>
                    <a>
                        <img src="../img/cv/spain.png">
                    </a>
                </li>
            </ul>

            <ul id="widgets">
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/EtienneGuerlain">
                        <img src="../img/cv/linkedin.png">
                    </a>
                </li>
                <li>
                    <a href="#ping">
                        <img src="../img/cv/ping.png">
                    </a>
                </li>
                <li>
                    <a href="#contact">
                        <img src="../img/cv/contact.png">
                    </a>
                </li>
                <li>
                    <a href="CV.pdf" download="GUERLAIN_Etienne_CV.pdf" target="_blank">
                        <img src="../img/cv/download.png">
                    </a>
                </li>
            </ul>
        </nav>
    </header>    


    <section id="cover" class="fade_in">
        <div id="welcome_text">
            <p><strong>Bonjour, je suis <span class="green">Etienne</span><a target="_blank" href="https://www.youtube.com/watch?v=9lIfXtHAFJE&feature=youtu.be&t=39s">.</a>
                </strong></p>
            <p>Curieux fullstack.</p>
        </div>
        <img src="../img/cv/me.jpg" id="picture">
    </section>
    
    <section class="wrapped">
        
        <article id="edu">
            <h1>Formation</h1>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/efrei.png">
                </div>
                <div class="card_info">
                    <h2>
                        <strong>Efrei : </strong>2016 - Auj.
                    </h2>
                    <p>Préparation du diplôme d'ingénieur informatique.</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/canada.png">
                </div>
                <div class="card_info">
                    <h2><strong>University of Toronto : </strong>2015 - 2016</h2>
                    <p>Année d'échange universitaire au Canada.</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/spo.png">
                </div>
                <div class="card_info">
                    <h2><strong>Sciences Po & Paris 1 : </strong>2013 - 2016</h2>
                    <p>Double cursus en mathématiques appliquées et sciences sociales.</p>
                </div>
            </div>

        </article>
        
        <article id="xp">
            <h1>Expérience</h1>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/pro.png">
                </div>
                <div class="card_info">
                    <h2>
                        <strong>Stage de terrain : </strong>Juillet 2014
                    </h2>
                    <p>Stage d'un mois dans une boutique d'achat et de revente d'objets d'occasion auprès de particuliers. J'accueillais les clients, gérais les stocks, et mettais sous pli les commandes Amazon.</p>
                </div>
            </div>

        </article>
        
        <article id="lang">
            <h1>Langues</h1>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/france.png">
                </div>
                <div class="card_info">
                    <h2>
                        <strong>Français</strong>
                    </h2>
                    <p>Langue maternelle.</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/uk.png">
                </div>
                <div class="card_info">
                    <h2><strong>Anglais</strong></h2>
                    <p>(Presque) bilingue.</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/spain.png">
                </div>
                <div class="card_info">
                    <h2><strong>Espagnol</strong></h2>
                    <p>Rouillé. Je me soigne.</p>
                </div>
            </div>

        </article>
        
        <article id="skills">
            <h1>Informatique</h1>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/node.png">
                </div>
                <div class="card_info">
                    <h2>
                        <strong>NodeJS</strong>
                    </h2>
                    <p>JavaScript pour le serveur.</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/cpp.png">
                </div>
                <div class="card_info">
                    <h2><strong>Programmation orientée objet</strong></h2>
                    <p>Java, C++.</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/angularjs.png">
                </div>
                <div class="card_info">
                    <h2><strong>Développement Web</strong></h2>
                    <p>HTML, CSS, AngularJS.</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/postgres.png">
                </div>
                <div class="card_info">
                    <h2><strong>Bases de données</strong></h2>
                    <p>MySQL, Postgres.</p>
                </div>
            </div>

        </article>
        
        <article id="crush">
            <h1>J'aime...</h1>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/brackets.png">
                </div>
                <div class="card_info">
                    <h2>
                        <strong>Brackets</strong>
                    </h2>
                    <p>Le meilleur éditeur de texte !</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/git.png">
                </div>
                <div class="card_info">
                    <h2><strong>Git</strong></h2>
                    <p>Logiciel de gestion de versions.</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/heroku.png">
                </div>
                <div class="card_info">
                    <h2><strong>Heroku</strong></h2>
                    <p>Hébergeur d'applications.</p>
                </div>
            </div>

        </article>

        <article id="hobbies">
            <h1>Intérêts</h1>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/drone.png">
                </div>
                <div class="card_info">
                    <h2>
                        <strong>Drone</strong>
                    </h2>
                    <p>De la conception au <span>crash</span> pilotage.</p>
                </div>
            </div>
            
            <div class="card">
                <div class="card_illu">
                    <img src="../img/cv/digital.png">
                </div>
                <div class="card_info">
                    <h2><strong>Projets numériques</strong></h2>
                    <p>Site web, applications, apprentissage.</p>
                </div>
            </div>

        </article>

    </section>
    
    <section id="contact">
        
        <h1>Contact</h1>
        
        <form method="post" action="/contact">
            <input type="text" name="name" placeholder="John Doe"/>
            <input type="email" name="email" required placeholder="john.doe@mail.com"/>
            <textarea name="content" required placeholder="Dites-moi tout"></textarea>
            <div class="full">
                <input type="submit" value="Envoyer"/>
            </div>
        </form>
        
    </section>
    
    <div id="download_cv">
        <a href="CV.pdf" download="GUERLAIN_Etienne_CV.pdf" target="_blank">
            <img src="../img/cv/resume.png">
            <div>Télécharger le CV</div>
        </a>
    </div>
    
    <footer>
        <p>Icons from  <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>, licence : <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
    </footer>