<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Collège Charles Dabert</title>
</head>

<body>
    
    <header>

    </header>
    
    <p>Bienvenue au collège Charles Dabert</p>
    
</body>
</html>