<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 

    <link rel=stylesheet href="css/blog.css">
    <title>Logs - Etienne Guerlain</title>
</head>

<body>
    <header>
        <div id="brand">
            <a href="/">Etienne Guerlain</a>
        </div>
    </header>
    
    <div class="padder"></div>
    <section>
        <% logs.forEach(function(log){ %>
            <p class="card">
                <p class="date"><%= log.date %></p>
                <p class="content"><%= log.content %></p>
            </p>
        <% }); %>

    </section>
</body>
</html>