<div class="overlay" id="modifeleve_modal" style="display: none">
    <div class="modal">

        <header>
            <h1>Nouvel élève</h1>
        </header>

        <div class="modal_content">
            <h2>Modifiez les informations de cet élève</h2>

            <form method="post" action="###" style="font-size: 0.5em;">

                <div class="modal_adresse">
                    <input class="rue" type="text" name="prenom" placeholder="Prénom de l'élève" value="<%=eleve.adresse.adresse%> " required>
                    <input type="text" name="nom" placeholder="Nom de l'élève" required>

                    <p><br></p>

                    <input type="text" name="sexe" placeholder="Sexe" required>

                    <p><br></p>

                    <input class="rue" type="text" placeholder="Date de naissance" name="date_naissance" required>
                    <div class="cp_ville">
                        <input class="cp" type="text" placeholder="Vile de naissance" name="ville_naissance" required>
                        <input type="text" placeholder="Pays de naissance" name="pays_naissance" required>
                    </div>

                    <p><br></p>

                    <input class="rue" type="text" name="etablissement_precedent" placeholder="Etablissement précédent">
                    <input type="text" name="date_inscription" placeholder="Date d'inscription">

                    <p><br></p>

                    <div class="modal_adresse">
                        <input class="rue" type="text" name="nom_medecin" placeholder="Nom du médecin">
                        <input class="rue" type="text" name="prenom_medecin" placeholder="Prénom du médecin">
                        <input type="text" name="telephone_medecin" placeholder="Téléphone du médecin">
                    </div>

                    <textarea name="remarques_medicales" placeholder="Remarques médicales"></textarea>

                    <input type="file" name="convocation">
                    <input type="file" name="bulletin">
                </div>

                <div class="form_bottom">
                    <a class="cancel_button" type="submit" onclick="javascript:toggle_modal('modifeleve_modal');">Annuler</a>
                    <a class="submit_button" href="#">Ajouter</a>
                </div>
            </form>
        </div>

    </div>
</div>
