<section>

    <p id="hey">Gestion des classes</p>

    <div class="row">

        <div class="clickable card" onclick="javascript:;">

            <h1>Ajouter une classe</h1>
            <img class="image" src="/img/plus.png" alt="Ajout de notes">

        </div>

        <div class="clickable card" onclick="javascript:;">

            <h1>Modifier une classe</h1>

            <img class="image" src="/img/pencil.png" alt="Modification de notes">

        </div>

    </div>

</section>





<!-- ### MODALS ### -->

<% //include modal/newphoto %>

    <% //include modal/newadresse %>

        <% //include modal/newcontact %>

            <% //include modal/newpassword %>
