<section>

    <p id="hey">Gestion des élèves</p>

    <div class="row">

        <div class="clickable card" onclick="javascript:toggle_modal('ajouteleve_modal');">

            <h1>Ajouter un élève</h1>

            <img class="image" src="/img/ajouteleve.png" alt="Ajout élève">

        </div>

        <a href="eleve/modify">
            <div class="clickable card">

                <h1>Modifier un élève</h1>

                <img class="image" src="/img/pencil.png" alt="Ajout élève">

            </div>
        </a>
    </div>

</section>





<!-- ### MODALS ### -->

<% include modal/ajouteleve_modal %>


    <% //include modal/newadresse %>

        <% //include modal/newcontact %>

            <% //include modal/newpassword %>
