<section>

    <p id="hey">Gestion des élèves</p>

    <div class="row">

        <div class="clickable card" onclick="javascript:toggle_modal('ajouteleve_modal');">

            <h1>Ajouter un élève</h1>

            <img class="image" src="/img/ajouteleve.png" alt="Ajout élève">

        </div>

        <div class="clickable card" onclick="javascript:toggle_modal('modifeleve_modal');">

            <h1>Modifier un élève</h1>

            <img class="image" src="/img/pencil.png" alt="Ajout élève">

        </div>

    </div>

</section>





<!-- ### MODALS ### -->

<% include modal/ajouteleve_modal %>

    <% include modal/modifeleve_modal %>

        <% //include modal/newadresse %>

            <% //include modal/newcontact %>

                <% //include modal/newpassword %>
