<section>

    <p id="hey">Gestion des notes</p>

    <div class="row">

        <a href="<%= matricule %>/add">
            <div class="clickable card">

                <h1>Ajouter des notes</h1>
                <img class="image" src="/img/plus.png" alt="Ajout de notes">

            </div>
        </a>
        <a href="<%= matricule %>/modify">
            <div class="clickable card">

                <h1>Modifier des notes existantes</h1>

                <img class="image" src="/img/pencil.png" alt="Modification de notes">

            </div>
        </a>
    </div>

</section>
