<section>

    <p id="hey">Sélectionner un élève</p>

    <ul>
        <% eleves.forEach(function(eleve){ %>
            <li style="list-style: none; padding: 10px;">
                <a style="text-decoration: none; font-size: 1.2em; color: royalblue;" href="notes/<%= eleve.matricule %>">
                    <%= eleve.nom + ' ' + eleve.prenom %>
                </a>
            </li>
            <% include modal/modifeleve_modal %>
                <% }); %>
    </ul>

</section>


<!-- ### MODALS ### -->

<% //include modal/newphoto %>

    <% //include modal/newadresse %>

        <% //include modal/newcontact %>

            <% //include modal/newpassword %>
