<section>

    <p id="hey">Gestion des professeurs</p>

    <div class="row">

        <div class="clickable card" onclick="javascript:;">

            <h1>Ajouter un professeur</h1>
            <img class="image" src="/img/plus.png" alt="Ajout de professeur">

        </div>

    </div>

</section>





<!-- ### MODALS ### -->

<% //include modal/newphoto %>

    <% //include modal/newadresse %>

        <% //include modal/newcontact %>

            <% //include modal/newpassword %>
